

fieldset
{
    background-color: lightsteelblue;
}


  legend {
    background-color: slategray;
    color: white;
    padding: 5px 10px;
  }
  input {
    margin: 5px;
        
  }
